*{
    margin: 0px auto;
    padding: 0px;
   
}

body{
	  width: 100%;
	  background-image: url("bg2.png");
	  background-size: cover;
}


#Header{
    width: 100%;
    height: 55px;
	background-color: #033d48;
    position: fixed;
}

#NavBar{
    width:800px;
    height: 45px;
}

a{
	padding: 0 15px;
}

ul li{
    float: right;
    list-style: none;
    width: 60px;
    height: 70px;
    line-height: 45px;
}

#im:hover{
	opacity: 0.5;
    filter: alpha(opacity=50); 
}

#im{
	padding: 5px;
}
#img1{
	float: left;
}	

#cc{
	background: rgba(255,255,255,0.5);
	padding-top: 50px;
}
	
#wrap {
	width: 950px;
	margin:0 auto;
}

#main {
	float:left;
	width:470px;
	height: 300px;
	padding:10px;
	background: rgba(255,255,255,0.5);
}

#sidebar {
	float:right;
	width: 440px;
	padding:10px;
	background: rgba(255,255,255,0.5);
	height: 300px;
}
#border{
	border-style: double;
	border-width: 8px;
	padding: 7px;
	color: white;
}

p{
	color: white;
	font-size: 20px;
	font-family: Vani;
}


#im2{
	float: left;
	padding: 10px;
	padding-top: 36px;
}



h1{
	color: #033d48;
	font-size: 50px;
	font-family: Berlin Sans FB;
}


#imm1{
	float: left;
	padding-left: 140px;
	width: 150px;
	height: 110px;
}

#imm2{
	float: left;
	padding-right: 30px;
	width: 110px;
	height: 90px;
}
#imm4{
	float: left;
	padding-left: 140px;
	width: 120px;
	height: 90px;
}

#imm5{
	float: left;
	padding-left: 120px;
	width: 90px;
	height: 90px;
}

#imm3{
	float: right;
	padding-right: 130px;
	width: 90px;
	height: 90px;
}

#p11{
	float: left;
	padding-left: 100px;
	font-size: 23px;
	font-family: Berlin Sans FB;
	color: #033d48;
}

#p12{
	float: left;
	padding-left: 120px;
	font-size: 25px;
	font-family: Berlin Sans FB;
	color: #033d48;
}
#p13{
	float: left;
	padding-left: 70px;
	font-size: 23px;
	font-family: Berlin Sans FB;
	color: #033d48;
}


.verticalLine {
  border-left: thick solid white;
  padding-bottom: 5px;
  height: auto;
}